<app-menu></app-menu>

<div *ngIf="isLogged; else loggedOut">
    <h1>Ya estas logeado</h1>
</div>

<ng-template #loggedOut>
    <div class="container">
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <mat-form-field class="mat-form" >
                    <mat-label>Usuario</mat-label>
                    <input matInput type="text" [(ngModel)]="nombreUsuario" required>
                </mat-form-field>
                <br>
                <mat-form-field class="mat-form" >
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" [(ngModel)]="password" required>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button  mat-button color="primary" (click)="onLogin()">Iniciar Sesión</button>
            </mat-card-actions>
            <mat-card-footer>
            </mat-card-footer>
        </mat-card>
    </div>
</ng-template>

        
