<app-menu></app-menu>
<h1></h1>
<div class="container">
  <div *ngIf="empleado!=null" class="subcontainer">
    <mat-card>
      <mat-card-title>
        Requerimientos del Empleado 
        {{ empleado.nombre }} 
        {{ empleado.segundoNombre }} 
        {{ empleado.apellido}} 
        {{ empleado.segundoApellido }}
      </mat-card-title>
      <mat-card-subtitle>
        Area: {{ empleado.area }}
      </mat-card-subtitle>
      <mat-card-content>
        <h2>Identificacion: {{ empleado.identificacion }} ({{ empleado.tipoIdentificacion }})</h2>
        <h2>Correo Electronico: {{ empleado.correoElectronico }}</h2>
        <h2>Fecha de ingreso: {{ empleado.fechaIngreso }}</h2>
        <mat-grid-list *ngIf="mostrarRequerimientos" cols="3" rowHeight="5:1">
          <h1>Requerimientos</h1>
          <mat-grid-tile>
            <h1>Pendientes: {{ pendientes }}</h1>
          </mat-grid-tile>
          <mat-grid-tile>
            <h1>Realizados: {{ realizados }}</h1>
          </mat-grid-tile>
          <mat-grid-tile>
            <h1>Asignados: {{ asignados }}</h1>
          </mat-grid-tile>
        </mat-grid-list>
        
      </mat-card-content>
    </mat-card>
  </div>
    <div *ngIf="mostrarRequerimientos" class="mat-elevation-z4" >
      <table mat-table [dataSource]="requerimientos" matSort >

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="text-center">Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id  }}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef class="text-center">descripcion</th>
          <td mat-cell *matCellDef="let element" class="descripcion">{{ element.descripcion }}</td>
        </ng-container>

        <ng-container matColumnDef="responsable">
          <th mat-header-cell *matHeaderCellDef class="text-center">responsable</th>
          <td mat-cell *matCellDef="let element">
            {{ element.responsable.nombre }}
            {{element.responsable.segundoNombre}}
            {{ element.responsable.apellido}}
            {{element.responsable.segundoApellido}}
          </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef class="text-center">estado</th>
          <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="fechaRegistro">
          <th mat-header-cell *matHeaderCellDef class="text-center">fecha de registro</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaDeRegistro }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-center">acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="openDelete(element.id)">Eliminar</button>
            <button mat-button color="primary">Reasignar</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10]" ></mat-paginator>
    </div>
    <div *ngIf="mostrarRequerimientos==false">
      <h1>No se le han asignado requerimienos al empleado</h1>
    </div>
</div>
