<div class="filtros">
  <section class="section">
    <label class="margin">Filtrar Por:</label>
    <mat-form-field class="section">
      <mat-label>Tipo Identificacion</mat-label>
      <select matNativeControl required [(ngModel)]="filtro">
        <option value="1">nombre</option>
        <option value="2">2do nombre</option>
        <option value="3">apellido</option>
        <option value="4">2do apellido</option>
        <option value="5">tipo id</option>
        <option value="6">identificacion</option>
        <option value="7">correo electronico</option>
        <option value="8">estado</option>
      </select>
    </mat-form-field>
    <div class="itemfiltro" *ngIf="filtro == '1'">
      <mat-form-field class="formulario">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" required [(ngModel)]="filtroNombre" />
      </mat-form-field>
    </div>
    <div class="itemfiltro" *ngIf="filtro == '2'">
      <mat-form-field class="formulario">
        <mat-label>2do Nombre</mat-label>
        <input
          matInput
          type="text"
          required
          [(ngModel)]="filtroSegundoNombre"
        />
      </mat-form-field>
    </div>
    <div class="itemfiltro" *ngIf="filtro == '3'">
      <mat-form-field class="formulario">
        <mat-label>Apellido</mat-label>
        <input matInput type="text" required [(ngModel)]="filtroApellido" />
      </mat-form-field>
    </div>
    <div class="itemfiltro" *ngIf="filtro == '4'">
      <mat-form-field class="formulario">
        <mat-label>2do Apellido</mat-label>
        <input matInput type="text" required [(ngModel)]="filtroSegundoApellido"/>
      </mat-form-field>
    </div>
    <div class="itemfiltro" *ngIf="filtro == '5'">
      <mat-form-field class="formulario">
        <mat-label>Tipo Identificacion</mat-label>
        <select matNativeControl required [(ngModel)]="filtroTipo">
          <option *ngFor="let item of tiposIdentificacion" [value]="item.id">
            {{ item.descripcion }} ({{ item.abreviatura }})
          </option>
        </select>
      </mat-form-field>
    </div>
    <div class="itemfiltro" *ngIf="filtro == '6'">
      <mat-form-field class="formulario">
        <mat-label>Identificacion</mat-label>
        <input matInput type="text" [(ngModel)]="filtroIdentificacion" />
      </mat-form-field>
    </div>
    <div class="itemfiltro" *ngIf="filtro == '7'">
      <mat-form-field class="formulario">
        <mat-label>Correo Electronico</mat-label>
        <input matInput type="email" required [(ngModel)]="filtroCorreo" />
      </mat-form-field>
    </div>
    <div class="itemfiltro" *ngIf="filtro == '8'">
      <mat-form-field class="formulario">
        <mat-label>Tipo Identificacion</mat-label>
        <select matNativeControl required [(ngModel)]="filtroEstado">
          <option [value]='1'>activo</option>
          <option [value]='0'>inactivo</option>
        </select>
      </mat-form-field>
    </div>
    <div class="itemfiltro" *ngIf="filtro != ''">
        <button mat-raised-button color="primary" (click)="filtrar()">Filtrar</button>
    </div>
    <div class="itemfiltro" *ngIf="filtro != ''">
      <button mat-raised-button color="primary" (click)="limpiar()">Limpiar Filtro</button>
  </div>
  </section>
  <section class="section"></section>
</div>