.text-center{
    text-align: center;
}

td {
    width: 10px;
    padding-right: 8px;
  }
  
th,td {
    padding-left: 8px;
}

.descripcion{
    width: 300px;
    padding-right: 8px;
    text-align: left;
}

.subcontainer{
    width: 70%;
    margin-bottom: 1%;
}