<app-menu></app-menu>

<div class="container">
  <h1>Listado de Requerimientos</h1>
  <div class="subcontainer">
    <button mat-button color="primary" (click)="openNewDialog()">
      Nuevo Requerimiento
    </button>
  </div>
  <div class="mat-elevation-z4">
    <div *ngIf="mostrarRequerimientos" class="mat-elevation-z4">
      <table mat-table [dataSource]="requerimientos" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="text-center">Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            descripcion
          </th>
          <td mat-cell *matCellDef="let element" class="descripcion">
            {{ element.descripcion }}
          </td>
        </ng-container>

        <ng-container matColumnDef="responsable">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            responsable
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.responsable.nombre }}
            {{ element.responsable.segundoNombre }}
            {{ element.responsable.apellido }}
            {{ element.responsable.segundoApellido }}
          </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef class="text-center">estado</th>
          <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="fechaRegistro">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            fecha de registro
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.fechaDeRegistro }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            acciones
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="openDelete(element.id)">
              Eliminar
            </button>
            <button mat-button color="primary" (click)="openEditDialog(element)">Editar</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10]"></mat-paginator>
    </div>
  </div>
  <div *ngIf="mostrarRequerimientos == false">
    <h1>No se le han asignado requerimienos al empleado</h1>
  </div>
</div>
