.text-center{
    text-align: center;
}

.subcontainer{
    margin-bottom: 1%;
}

.itemfiltro{
    margin-left: 1%;
}

.section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 20px;
  }
  
  .margin {
    margin: 0 10px;
  }