<app-menu></app-menu>

<div class="container">

  <h1>Listado de Empleados</h1>
  <h1 *ngIf="filtroEstado==0">Empleados Inactivos</h1>
  <br>
  <app-filtroEmpleados (estadoFiltro)="cambiarEstado($event)"
    (empleadosResponse)="obtenerEmpleados($event)">
  </app-filtroEmpleados>

  <div class="subcontainer">
    <button mat-button color="primary" [routerLink]="['/formempleado']">Nuevo Empleado</button>
  </div>
    <div class="mat-elevation-z4">
      <table mat-table [dataSource]="empleados" matSort >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="text-center">Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id  }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="text-center">Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="segundoNombre">
          <th mat-header-cell *matHeaderCellDef class="text-center">2do Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.segundoNombre }}</td>
        </ng-container>

        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef class="text-center">Apellido</th>
          <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
        </ng-container>

        <ng-container matColumnDef="segundoApellido">
          <th mat-header-cell *matHeaderCellDef class="text-center">2do Apellido</th>
          <td mat-cell *matCellDef="let element">{{ element.segundoApellido }}</td>
        </ng-container>

        <ng-container matColumnDef="tipoIdentificacion">
          <th mat-header-cell *matHeaderCellDef class="text-center">Tipo Id</th>
          <td mat-cell *matCellDef="let element">{{ element.tipoIdentificacion }}</td>
        </ng-container>

        <ng-container matColumnDef="identificacion">
          <th mat-header-cell *matHeaderCellDef class="text-center">Identificacion</th>
          <td mat-cell *matCellDef="let element">{{ element.identificacion }}</td>
        </ng-container>

        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef class="text-center">Area</th>
          <td mat-cell *matCellDef="let element">{{ element.area }}</td>
        </ng-container>

        <ng-container matColumnDef="correoElectronico">
          <th mat-header-cell *matHeaderCellDef class="text-center">Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.correoElectronico }}</td>
        </ng-container>

        <ng-container matColumnDef="fechaIngreso">
          <th mat-header-cell *matHeaderCellDef class="text-center">Fecha de Ingreso</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaIngreso }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" [routerLink]="['/formempleado',element.id]">Editar</button>
            <button mat-button color="warning" (click)="openDelete(element.id)">Eliminar</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="requerimientos">
          <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="verRequerimientos(element)">Requerimientos</button>
          </td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10]" ></mat-paginator>
    </div>
</div>
