.dialog{
    width: 90%;
}
.textarea{
    width: 100%;
}
.formulario{
    width: 90%;
}

.section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .margin {
    margin: 0 10px;
  }

.itemfiltro{
    margin-left: 1%;
}