<div class="dialog" *ngIf="nuevoRequerimiento != null">
  <h1 class="mat-dialog">
    {{
      requerimiento != null
        ? "Editar Requerimiento"
        : "Registrar Requerimiento"
    }}
  </h1>
  <br />

  <div class="filtros" >
    <h1 *ngIf="nuevoRequerimiento.empleado_id!=0">Empleado Asignado</h1>
    <mat-card *ngIf="nuevoRequerimiento.empleado_id!=0">
      <h1> {{nombre}} &nbsp;&nbsp;   <{{correo}}> </h1>
    </mat-card>
    <br>
    <button mat-raised-button *ngIf="nuevoRequerimiento.empleado_id!=0" 
    (click)="nuevoRequerimiento.empleado_id=0">Reasignar</button>
    <br> <br>
    <app-filtroEmpleados (estadoFiltro)="cambiarEstado($event)"
      (empleadosResponse)="obtenerEmpleados($event)" *ngIf="nuevoRequerimiento.empleado_id==0">
    </app-filtroEmpleados>
  </div>

    <div class="mat-elevation-z4" *ngIf="nuevoRequerimiento.empleado_id==0">
      <table mat-table [dataSource]="empleados" matSort >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="text-center">Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id  }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="text-center">Nombre</th>
          <td mat-cell *matCellDef="let element">
            {{ element.nombre }}
            {{ element.segundoNombre }}
            {{ element.apellido }}
            {{ element.segundoApellido }}
          </td>
        </ng-container>

        <ng-container matColumnDef="identificacion">
          <th mat-header-cell *matHeaderCellDef class="text-center">Identificacion</th>
          <td mat-cell *matCellDef="let element">{{ element.identificacion }}</td>
        </ng-container>

        <ng-container matColumnDef="correoElectronico">
          <th mat-header-cell *matHeaderCellDef class="text-center">Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.correoElectronico }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="warning" (click)="asignarEmpleado(element)" >Asignar Empleado</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10]" ></mat-paginator>
    </div>

  <div mat-dialog-content class="mat-dialog textarea">
    <mat-form-field class="formulario">
      <mat-label>Descripcion</mat-label>
      <textarea
        matInput
        maxlength="500"
        required
        [(ngModel)]="nuevoRequerimiento.descripcion"
      ></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="mat-dialog">
    <button mat-button matDialogClose color="danger" (click)="cerrarDialog()">
      Cancelar
    </button>
    <button mat-button color="primary" (click)="requerimiento != null ? actualizar() : registrar()">
      {{ requerimiento != null ? "Actualizar" : "Registrar" }}
    </button>
  </div>
</div>