<mat-toolbar color="primary">
  <a *ngIf="isLoggedMenu" [routerLink]="['/home']" routerLinkActive="active" mat-button class="toolBar">Home</a>
  <a *ngIf="isLoggedMenu && admin" [routerLink]="['/empleado']" routerLinkActive="active" mat-button class="toolBar">Empleados</a>
  <a *ngIf=" isLoggedMenu && admin" [routerLink]="['/requerimiento']" routerLinkActive="active" mat-button class="toolBar">Requerimientos</a>
  <a *ngIf="isLoggedMenu && !admin && idEmpleado!=0" [routerLink]="['/detalle',idEmpleado]" routerLinkActive="active" mat-button class="toolBar">Mis Requerimientos</a>
  <span class="fill-reaming-space"></span>
  <a *ngIf="isLoggedMenu" mat-button class="toolBar" (click)="logOut()">Cerrar Sesión</a>
</mat-toolbar>