<app-menu></app-menu>

<div *ngIf="empleado!=null" class="contenedor">
    <h1>{{ update ? 'Editar Empleado' : 'Registro De Empleados'}}</h1>
    <form [formGroup]="form" (ngSubmit)="enviar()">

        <mat-form-field class="formulario">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" required [(ngModel)]="empleado.nombre" formControlName="nombre">
        </mat-form-field>
        <br>
        <mat-form-field class="formulario">
            <mat-label>Segundo Nombre</mat-label>
            <input matInput type="text" [(ngModel)]="empleado.segundoNombre" formControlName="segundoNombre">
        </mat-form-field>
        <br>
        <mat-form-field class="formulario">
            <mat-label>Apellido</mat-label>
            <input matInput type="text" required [(ngModel)]="empleado.apellido" formControlName="apellido">
        </mat-form-field>
        <br>
        <mat-form-field class="formulario">
            <mat-label>Segundo Apellido</mat-label>
            <input matInput type="text" [(ngModel)]="empleado.segundoApellido" formControlName="segundoApellido">
        </mat-form-field>
        <br>
        <mat-form-field class="formulario" >
            <mat-label>Tipo Identificacion</mat-label>
            <select matNativeControl required [(ngModel)]="empleado.tipoIdentificacion.id" formControlName="tipoIdentificacion">
              <option *ngFor="let item of tiposIdentificacion" [value]="item.id">
                {{ item.descripcion }} ({{item.abreviatura}})
              </option>
            </select>
        </mat-form-field>
        <br>
        <mat-form-field class="formulario">
            <mat-label>Identificacion</mat-label>
            <input matInput type="text" maxlength="10" required [(ngModel)]="empleado.identificacion" formControlName="identificacion">
        </mat-form-field>
        <br>
        <mat-form-field class="formulario" >
            <mat-label>Area</mat-label>
            <select matNativeControl required [(ngModel)]="empleado.area.id" formControlName="area">
              <option *ngFor="let item of areas" [value]="item.id">
                {{ item.nombre }}
              </option>
            </select>
        </mat-form-field>
        <br>
        <mat-form-field class="formulario" >
            <mat-label>Rol</mat-label>
            <select matNativeControl required [(ngModel)]="empleado.rol.id" formControlName="rol">
              <option *ngFor="let item of roles" [value]="item.id">
                {{ item.nombre }}
              </option>
            </select>
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="update==false" class="formulario">
            <mat-label>Password</mat-label>
            <input matInput type="password" minlength="4" required [(ngModel)]="empleado.password" formControlName="password">
        </mat-form-field>
        <br>
        <button mat-button color="primary" [routerLink]="['/empleado']" >Cancelar</button>
        <button mat-button color="primary" type="submit" >Guardar</button>
    </form>
</div>