/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container{
  width: 95%;
  margin: auto;
}

table{
  width: 100%;
  text-align: center;
}
